/* styles.css */

/* Light Mode Styles */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #1c1c1c;
}

button {
    cursor: pointer;
}